extends ./index.pug

block content
  main.px-4.float-md-center
    h1 Социальная сеть для IT
    p.lh-lg.lead
      | Добро пожаловать на, возможно, первую социальную сеть, нацеленную на программистов, общайтесь, вступайте в группы и делитесь кодом!
    h4.lh-lg.text-decoration-underline.lead
      | Уже зарегистрированы? Нет? Тогда зарегистрируйтесь и вступайте в процветающее сообщество Blacking!
    p.lh-lg.justify-content-center.float-md-center
      a.btn.btn-lg.btn-light.me-3(href='/login') Войти
      a.btn.btn-lg.btn-light.ms-3(href='/register') Зарегистрироваться