extends ../index.pug

block header 
  h1.my-5 О проекте
block content 
  h3 Данный проект предназначен для как можно более удобного взаимодействия между программистами, планируется сделать базовый функционал социальной сети, но с возможностью редактора кода и вставки кода в сообщения.