extends ../index.pug

block header 
  h1.my-5 FAQ
block content 
  h3 Вопрос: Нахуя ты тут вообще FAQ сделал?? Еблан, никто тебе никаких вопросов ещё не успел задать, никто даже о существовании этого проекта не знает 
  h3 Ответ: Не знаю.