.modal.fade(id="aboutWork" tabindex="-1" aria-labelledby="aboutWorkModal" aria-hidden="true")
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content.text-bg-dark
      .modal-header
        h1.modal-title.fs-5(id="aboutWorkModal") О моей работе
        button.button.btn-close(data-bs-dismiss="modal" aria-label="Close")
      .modal-body Сюда добавь опыт работы полный!