extends ../index.pug

block header
  h1.mt-5 Вход

block content 
  main.container.float-md-center.mb-5
    form(action='/login' method='post')
      +input('email', 'Email', 'Ваш Email', body, errs)(type='text')
      +input('password', 'Пароль', 'Ваш пароль', {}, errs)(type='password')
      button.btn.btn-lg.btn-light(type='submit') Войти
