extends ../index.pug

block header
  h1.mt-5 Регистрация

block content 
  main.container.float-md-center.mb-5
    form(action='/users' method='post')
      +input('firstName', 'Имя', 'Ваше Имя', body,  errs)(type='text')
      +input('lastName', 'Фамилия', 'Ваша Фамилия', body, errs)(type='text')
      +input('email', 'Email', 'Ваш Email', body, errs)(type='text')
      +input('password', 'Пароль', 'Ваш пароль', {}, errs)(type='password')
      +input('confirmPassword', 'Повторите пароль', 'Повторите пароль', {},  errs)(type='password')
      button.btn.btn-lg.btn-light(type='submit') Зарегистрироваться
